body{background-color: rgb(255, 248, 233);}


.titles {
    font-variant: small-caps;
    border-style: dotted;
    border-width: 4px;
    background-color: rgb(253, 190, 168);
}

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: expanded;
}

.job {
    font-family: "Jazz LET", "fantasy";
    font-style:normal;

}

.highlight {
    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    
}
.project1 {color:darkgreen}
.project2 {color:cornflowerblue}
.project3 {color:coral}

.detail {
    font-family: 'Andale Mono', 'monospace';
}